
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');



body { 
    margin: 0;
    padding : 0;
    font-family: 'Aboreto', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
.background-image{
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: background-image 1s ease-in-out;
}
.overview{
    padding: 0;
    position: absolute;
    top:60%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 650px;
    border-radius: 15px;
    
    
    
    
    
}
input{
    background-color: rgba(255,255,255,1);
    text-align: center;
    position: absolute;
    padding: 0;
    border-radius: 20px;
    font-size: 20px;
    height: 50px;
    width:  300px;
    outline-style: none;
    border-style: solid;
    box-sizing: border-box;
    top:25%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 5px #888888;
}
input:hover{
    border-color: black;
    width: 350px;
}
input::selection{
    border-color: black;
    width: 350px;
}
.name{
    margin-top:0px;
    height: 30px;
}


.tempmin{
    border-style: solid;

}
.defaultScreen{
    padding: 7px;
    display: flex;
}
button{
    position: absolute;
    top:80%;
    left: 50%;
    translate: -50%;
    border-radius: 5px;
    border-color: #888888;
    
    width: 50px;
    height: 30px;
    box-shadow: 5px 5px 5px #888888;
    
}
.title{
    position: absolute;
    top:2%;
    left:50%;
    translate: -50%;
}

.selectCity{
    font-size: 50px;
    color:#888888;
}
