


body { 
    margin: 0;
    padding : 0;
    
  
}
.background-image{
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: background-image 1s ease-in-out;
}
.overview{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
   
    
    height: 550px;
    width: 650px;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.5);
    
    
}
.widget{
    background-color: aqua;
    border-style: solid;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 151px;
    margin-right: 10px;
    border-radius: 15px;
}
